version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: hotel-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hotelmanagement
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init-db:/docker-entrypoint-initdb.d # is used to run init.sql file, to create database tables 
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - hotel-network

  hotel-app:
    build: .
    container_name: hotel-app
    depends_on:
      mysql:
        condition: service_healthy
    restart: on-failure
    stdin_open: true
    tty: true
    networks:
      - hotel-network

networks:
  hotel-network:
    driver: bridge

volumes:
  mysql-data:
